body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

.header {
    height: 158px;
    width: 412px;
    background-color: #0c3c3b;
    text-align: center;
}

h1 {
    margin-top: 0;
    padding-top: 55px;
    color: #F9FAFB;
    

}

h2, h3 {
    color: #0c3c3b;
    margin-bottom: 0px;
}

p {
    font-size: 15px;
    color: #1d1d1d;
    margin-top: 0px;
    margin-bottom: 4px;
}

.about-heading {
    height: 37px; 
}

.heading {
    height: 36px;
    width: 124px;
}

.intro {
    text-align: center;
}

.intro-description {
    text-align: center;
    padding-bottom: 37px;
    margin-left: 20px;
    margin-right: 20px ;
}

.logo {
    text-align: center;
    background-color: #0c3c3b;
    width: 412px;
    padding-top: 7.8px;
    padding-bottom: 7.8px;
}


.image1 {
    height: 309.8px;
    width: 179.9px;
    
}

.img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image2 {
    height: 103.06px;
    width: 179.9px;
}

.img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image3 {
    height: 194.54px;
    width: 179.9px;
    margin-top: 12.21px;
}

.img3 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

.grid {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.column {
    margin-left: 20px;
}

.navigation {
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    width: 91%;
}

.fa-solid {
    color: #0c3c3b;
}

.nav-icon {
    opacity: 0.4;
}

.nav-text {
    color: #0c3c3b;
    opacity: 0.4;
}

.active {
    opacity: 1;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 412px;
    gap: 20px;


    justify-content: center;
}

.active-grid {
    display: flex;
    text-align: left;
}

.product-card {
    display: flex;
    flex-direction: column;
    background: #fff;    
    border-radius: 20px;
    align-items: center;
    border: 1.2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
    
}

.icon-event {
    display: flex;
    align-items: center;
}

.shop-icon-large {
    padding-top: 168px;
    font-size: 50px;
    text-align: center;
}

.heading-cart {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

.paragraph-cart {
    text-align: center;
    margin-top: 0;
}

a {
    text-decoration: none;
}

.Large {
font-size: 40px;
text-align: center;
padding: 18.4px;
}

.T-shirt {
    text-align: center;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.container-image {
    width: 372px;
    margin-bottom: 0;
}

.size {
    display: flex;
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    gap: 5px;

}

.size-seperate {
    background-color: #0c3c3b;
    width: 8px;
    height: 8px;
    color: #F9FAFB;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 20px;
    margin-right: 40px;
}

.add-to {
    background-color: #0c3c3b;
    color: #F9FAFB;
    text-align: center;
    border-radius: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 8px;
    margin-right: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Images {
    border-radius: 20px;
    height: 110px;
    width: 164;
}

.T-shirt-green {
    display: flex;
    flex-direction: column;
    background: #fff;    
    border-radius: 20px;
    align-items: center;
}

.event-grid {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.icon-event {
    gap: 5px;
}

.register {
    font-size: 20px;
    font: bolder;
    color: #F9FAFB;
    text-align: center;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: -20px;
    background-color: #0c3c3b;
    border-radius: 20px;
}

.price {
    color: #0c3c3b;
    padding-top: 0;
    margin-bottom: 10px;
}