body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9FAFB;
}

.header {
    background-color: #0c3c3b;
    height: 158px;
    width: 412px;
    display: flex;
}

h1 {
    margin-top: 0;
    margin-left: 20px;
    padding-top: 55px;
    color: #F9FAFB;
    

}

h2, h3 {
    color: #0c3c3b;
}

p {
    font-size: 15px;
}

.about-heading {
    height: 37px; 
}

.heading {
    height: 36px;
    width: 124px;
}

.intro {
    text-align: center;
}

.intro-description {
    text-align: center;
    padding-bottom: 37px;
    margin-left: 20px;
    margin-right: 20px ;
}

.logo {
    text-align: center;
    background-color: #0c3c3b;
    width: 412px;
    padding-top: 7.8px;
    padding-bottom: 7.8px;
}


.image1 {
    height: 309.8px;
    width: 179.9px;
    
}

.img1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image2 {
    height: 103.06px;
    width: 179.9px;
}

.img2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.image3 {
    height: 194.54px;
    width: 179.9px;
    margin-top: 12.21px;
}

.img3 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}

.grid {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.column {
    margin-left: 20px;
}

.navigation {
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    width: 90%;
}

.fa-solid {
    color: #0c3c3b;
}

.nav-icon {
    opacity: 0.4;
}

.nav-text {
    color: #0c3c3b;
    opacity: 0.4;
}

.active {
    opacity: 1;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

.active-grid {
    display: flex;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 20px;
    
}

.price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
}

.icon-event {
    display: flex;
    align-items: center;
}

.shop-icon-large {
    padding-top: 168px;
    font-size: 50px;
    text-align: center;
}

.heading-cart {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.paragraph-cart {
    text-align: center;
    margin-top: 0;
}

a {
    text-decoration: none;
}

.Large {
font-size: 40px;
margin-left: 53.72px;
margin-top: -35px;
}

.T-shirt {
    text-align: center;
}

.container {
    margin-left: 20px;
}

.size {
    display: flex;
    padding-left: 0;
    align-items: center;
    justify-content: space-between;
    margin-right: 200px;
    padding-top: 20px;
    text-align: left;
}